doctype html
html(lang="en")
  head
    title= "FLECKS Server (v1.0.0)"
    style
      include styles.css
    script(src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js")
  body
    h1 FLECKS Server (v1.0.0)
    div
      p This is a simple version of the server that can collect audio recordings and programming logs. 
        br
        | Currently, we use the browser mic to record audio and we save the wav file locally.
      button(onclick="startAudioRec()") Start audio recording
      button(onclick="stopAudioRec()") Stop audio recording
    div
      p Here are more items to simulate interactions with the interface.
      div
        button(onclick="clickedStart()") Start program 
      div
        button(onclick="clickedDebug()") Debug program
      div
        button(onclick="clickedAdd1()") Add block 1 to code
      div
        button(onclick="clickedAdd2()") Add block 2 to code
      div
        button(onclick="clickedAdd3()") Add block 3 to code
    div
      h3 Server Response
      p #{serverResponse}
    script(src="script.js")
      