doctype html
html(lang="en")
  head
    title= "FLECKS Server (v1.0.0)"
    script(src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js")
  body
    h1 FLECKS Server (v1.0.0)
    #container.col
      p This is a simple version where we use the browser mic to record audio and we save the wav file locally.
      button(onclick="startAudioRec()") Start audio recording
      button(onclick="stopAudioRec()") Stop audio recording
      script(src="script.js")
      