doctype html
html(lang="en")
  head
    title= "FLECKS Audio Collection Prototype (v2.0.0)"
    style
      include styles.css
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
  body
    div
      h1 FLECKS Audio Collection Prototype (v2.0.0)
      p This is a prototype of the FLECKS server to demonstrate the audio collection. As students interact with the client, the server will collect audio recordings and provide feedback. 
    div
      h3 Audio Recording Buttons
      p These buttons start and stop the audio recording for the session.
      button(type="button", class="btn btn-primary", onclick="startAudioRec()") Start audio recording
      button(type="button", class="btn btn-primary", onclick="stopAudioRec()") Stop audio recording
    div
      h3 Server Response
      img(src="/agents.png", alt="Virtual Agent Silhouettes")
      div
        - var url=serverAudioUrl;
        audio(controls="controls", controlsList="nofullscreen nodownload noremoteplayback", src="/"+url, autoplay)
      p #{serverResponse}
    script(src="script.js")
      